<template>
    <div id="auth">
            <v-ons-dialog
                    class="child_dialog"
                    :visible.sync="dialogVisible"
                    animation="none"
            >
                <div class="first_auth">
                    <div class="background">
                        <div class="opacity">
                            <div class="content">
                                <img src="../assets/logo.png">
                                <div class="auth-area">
                                    <h2>キャリデザ生と繋がろう</h2>
                                    <router-link to="/signup"
                                                 class="signup auth-button">
                                        アカウント作成
                                    </router-link>
                                    <router-link to="signin"
                                                 class="signin auth-button">
                                        サインイン
                                    </router-link>
                                    <p class="link">うまくいかない場合は
                                        <router-link to="/help">こちら</router-link>
                                    </p>
                                    <p class="link">始め方が分からない方は
                                        <router-link to="/manual">こちら</router-link>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </v-ons-dialog>
        </div>
</template>

<style lang="scss">
.first_auth {
    height: 100%;
    text-align: center;

    .background {
        // background-image: url("../assets/career_design_logo.jpg");
        background-image: url("../assets/logo.png");
        width: 100%;
        height: 100%;
        position: relative;

        .opacity {
            background: rgba(255,255,255,0.8);
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: scroll;

            .content {

                .auth-area {
                    display: flex;
                    flex-direction: column;

                    h2{
                        font-weight: bold;
                        font-size: 1.5rem;
                    }

                    .auth-button{
                        border: solid 1px #0076ff;
                        background-color: #0076ff;
                        padding: .5rem;
                        width: 90%;
                        margin: auto;
                        border-radius: 2rem;
                        font-weight: bold;
                        text-decoration: none;
                    }

                    .signup{
                        color: white;
                    }

                    .signin{
                        margin-top: 1rem;
                        background-color: white;
                        color: #0076ff;
                    }

                    .link {
                        margin: 1rem 0 0 0;
                    }
                }
            }
        }
    }
}
</style>

<script>
export default {
  data() {
    return {
      dialogVisible: true,
    };
  },
};
</script>
