<template>
    <div id="help">
        <v-ons-dialog
                class="child_dialog"
                :visible.sync="dialogVisible"
                animation="none"
        >
            <v-ons-page>
                <v-ons-toolbar>
                    <div class="left">
                        <v-ons-back-button @click.prevent="back">
                        </v-ons-back-button>
                    </div>
                </v-ons-toolbar>
                <v-ons-list v-for="item in question" :key="item.id">
                    <v-ons-list-header class="question">
                        Q. {{ item.question }}
                    </v-ons-list-header>
                    <v-ons-list-item class="answer" modifier="nodivider">
                        A. {{ item.answer }}
                        <router-link to="/resetting" v-if="item.q_id === 'q_2'">こちらです</router-link>
                        <v-ons-list-item v-if="item.list" modifier="nodivider">
                            <ul v-for="list in item.list" :key="list.a_id">
                                <li class="list_title render" v-html="list.list_title"></li>
                                <p class="list_answer render" v-html="list.list_answer"></p>
                                <!--
                                <router-link to="/auth" v-if="list.a_id === 'li_3'"
                                class="list_answer">お問い合わせはこちら</router-link>
                                -->
                                <a href='mailto:career_nexus@yahoo.co.jp
                                ?subject=お問い合わせ
                                &body=学籍番号:%0D%0A氏名:%0D%0A内容:'
                                class="list_answer"
                                v-if="list.a_id === 'li_3'">メール送信はこちら</a>
                            </ul>
                        </v-ons-list-item>
                    </v-ons-list-item>
                </v-ons-list>
            </v-ons-page>
        </v-ons-dialog>
    </div>
</template>

<script>

export default {
  data() {
    return {
      dialogVisible: true,
      question: [
        {
          q_id: 'q_1',
          question: 'アカウントが作成できません',
          answer: '原因は複数考えられます',
          list: [
            {
              a_id: 'li_1',
              list_title: '学籍番号を間違えている',
              list_answer: '正しく入力されていない可能性があります。',
            },
            {
              a_id: 'li_2',
              list_title: 'パスワードが6文字以下',
              list_answer: 'パスワードは6文字以上で設定しなければなりません。',
            },
            {
              a_id: 'li_3',
              list_title: '既にアカウントが存在する',
              list_answer: '他のユーザが誤った学籍番号でアカウントを作成した可能性があります。<br>' +
                  'パスワードの再設定でアカウントが使用できるようになります。<br>' +
                  '上記の方法でアカウント作成、サインインができない場合は下記リンクからメールにてお問い合わせください。',
            },
          ],
        },
        {
          q_id: 'q_2',
          question: 'パスワードの再設定はどこですか',
          answer: '',
        },
        {
          q_id: 'q_3',
          question: 'サインインできません',
          answer: '学籍番号、パスワードが間違っている可能性があります',
        },
        {
          q_id: 'q_4',
          question: 'サインイン後、トップページへ戻される',
          answer: 'メール未認証だとトップページへ戻ります',
        },
      ],
    };
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="scss">
.child_dialog {
    .render {
      white-space: pre-line;
    }
    .question {
        font-size: 1.2rem;
        height: 4rem;
        display: flex;
        align-items: center;
    }
    .answer {
        color: forestgreen;
        margin: 0 0 0 .5rem;
        font-size: 1.2rem;
    }
    .list_title {
        color: forestgreen;
        font-size: 1.2rem;
    }
    .list_answer {
        font-size: 1rem !important;
    }
}
</style>
