<template>
  <div class="home">
    <v-ons-page>
      <!-- <router-link to="/timeline_post">aa</router-link> -->
      <img alt="Vue logo" class="logo" src="../assets/logo.png">
      <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
      <h1 style="font-weight: bold;">ようこそ</h1>
      <div class="home-welcome">
        <h2>
          <router-link to="/timeline">
            <ons-icon icon="ion-clock">
              思い出を共有しよう
            </ons-icon>
          </router-link>
        </h2>
        <p>今の気持ちを、撮った写真を呟こう</p>

        <h2>
          <router-link to="/search">
            <ons-icon icon="ion-search">
              友達・呟きを探そう
            </ons-icon>
          </router-link>
        </h2>
        <p>気の合う友達や、気になる呟きを探してみよう</p>

        <h2>
          <router-link to="/profile_setting">
            <ons-icon icon="ion-settings">
              自分を発信しよう
            </ons-icon>
          </router-link>
        </h2>
        <p>プロフィールを完成させよう</p>
      </div>
    </v-ons-page>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue';
/*
export default {
  name: 'home',
  components: {
    HelloWorld,
  },
};
*/
</script>

<style lang="scss">
.home-welcome {
  padding: 1rem;
  .logo {
    margin-top: 1rem;
  }
}
</style>
