<template>
    <div id="manual">
        <v-ons-dialog
            :visible.sync="dialogVisible"
            class="child_dialog"
            animation="none"
            >
            <v-ons-page>
                <v-ons-toolbar>
                    <div class="left">
                        <v-ons-back-button @click.prevent="back">
                        </v-ons-back-button>
                    </div>
                </v-ons-toolbar>
                <div class="manual-page">
                    <h2>Microsoft OutLookの導入</h2>
                    <h3 class="sub-title">アプリのインストール</h3>
                    <div class="manual-img-area">
                        <img class="manual-img" src="../assets/manual/iOS_01.png">
                        <img class="manual-img" src="../assets/manual/Android_01.png">
                    </div>
                    <p class="manual-text">AndroidはGooglePlay、iOSはAppStoreで
                    「Microsoft Outlook」をインストールしてください。</p>

                    <h3 class="sub-title">アカウントの追加</h3>
                    <div class="manual-img-area">
                        <img class="manual-img" src="../assets/manual/iOS_02.png">
                        <img class="manual-img" src="../assets/manual/Android_02.png">
                    </div>
                    <p class="manual-text">
                        アカウントが見つかった際は、自分のものか確かめ、アカウントの追加へ進みます。
                    </p>

                    <h3 class="sub-title">アカウントが見つからなかった場合</h3>
                    <div class="manual-img-area">
                        <img class="manual-img" src="../assets/manual/iOS_03.png">
                        <img class="manual-img" src="../assets/manual/Android_03.png">
                    </div>
                    <p class="manual-text">
                        アカウントが見つからない場合は、手動でメールアドレスとパスワードを入力してください。
                        みなさんが持っているメールアドレスは
                        自分の学籍番号@ca.harada-gakuen.ac.jp
                        です。
                    </p>

                    <h3 class="sub-title">受信トレイ</h3>
                    <div class="manual-img-area">
                        <img class="manual-img" src="../assets/manual/iOS_04.png">
                        <img class="manual-img" src="../assets/manual/Android_04.png">
                    </div>
                    <p class="manual-text">
                        受信トレイには「優先」と「その他」というフィルターがついています。
                        メールが届かない場合はフィルターの確認を行ってください。
                    </p>
                    <h2>アカウントの作成</h2>
                    <h3 class="sub-title">サインアップ</h3>
                    <img class="manual-img" src="../assets/manual/Signup_01.png">
                    <p class="manual-text">
                        自分の学籍番号と任意の6文字以上のパスワードでアカウントを作成します。
                    </p>
                    <img class="manual-img" src="../assets/manual/Signup_02.png">
                    <p class="manual-text">
                        本人確認メールが送信されるので、メールに添付されているURLで認証を行ってください。
                        メール認証が済んでいない状態でのログインは不可能です。
                    </p>
                    <img class="manual-img" src="../assets/manual/Signup_03.jpg">
                    <p class="manual-text">
                        認証が完了するとこのページへ遷移されます。
                        「続行」でサインインのページへ遷移し、入力した学籍番号とパスワードでサインインを完了させてください。
                    </p>
                </div>
            </v-ons-page>
        </v-ons-dialog>
    </div>
</template>

<script>
export default {
  data() {
    return {
      dialogVisible: true,
    };
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="scss">

    .manual-page {
        white-space: pre-line;
        padding: .5rem;
        text-align: center;
        .sub-title {
            margin-top: 3rem;
        }
        .manual-text {
            text-align: left;
            margin-bottom: 3rem;
        }
        .manual-img {
            height: 50%;
            width: 50%;
        }
    }
</style>
