<template>
    <div id="profile_setting">
        <v-ons-page>
            <v-ons-list>
                <v-ons-list-header>プロフィール画像</v-ons-list-header>
                <v-ons-list-item modifier="nodivider">
                    <div class="img-area">
                        <img class="img" v-show="get.myProfile.img_src"
                             :src="get.myProfile.img_src" />
                    </div>
                </v-ons-list-item>
                <v-ons-list-item modifier="nodivider" class="upload-area">
                    <v-ons-button>
                        <label for="file" class="upload-btn">
                            <ons-icon icon="ion-camera"></ons-icon>
                            <input type="file" id="file"
                                   v-on:change="onFileChange" accept="image/*"/>
                        </label>
                    </v-ons-button>
                </v-ons-list-item>
                <v-ons-list-header>ニックネーム</v-ons-list-header>
                <v-ons-list-item modifier="nodivider">
                    <v-ons-input class="ons-item" placeholder="ニックネームを入力してください"
                                 v-model="get.myProfile.name"></v-ons-input>
                </v-ons-list-item>
                <v-ons-list-header>自己紹介</v-ons-list-header>
                <v-ons-list-item modifier="nodivider">
                    <textarea class="ons-item textarea textarea--transparent"
                              v-model="get.myProfile.introduction"
                              placeholder="自己紹介を入力してください。"
                              rows="4"></textarea>
                </v-ons-list-item>
                <v-ons-list-header>所属サークル</v-ons-list-header>
                <v-ons-list-item expandable>
                    サークル一覧を表示する
                    <v-ons-list class="expandable-content">
                        <v-ons-list-item modifier="nodivider"
                                         v-for="circle in CircleList" :key="circle.name">
                            <v-ons-checkbox :input-id="'checkbox-' + circle.index"
                                            :value="circle.name"
                                            v-model="get.myProfile.circles"
                            ></v-ons-checkbox>
                            <label class="circle-name"
                                   :for="'checkbox-' + circle.index"
                            >{{ circle.name }}</label>
                        </v-ons-list-item>
                    </v-ons-list>
                </v-ons-list-item>
            </v-ons-list>
            <v-ons-button class="profile-btn save" @click="save()">保存</v-ons-button>
            <v-ons-button class="profile-btn cancel" @click="cansel()">ログアウト</v-ons-button>
            <v-ons-dialog
                    :visible.sync="get.dialogVisible">
                <p style="text-align: center; margin: 3rem !important;">
                    Loading <v-ons-icon icon="fa-spinner" spin></v-ons-icon>
                </p>
            </v-ons-dialog>
        </v-ons-page>
    </div>
</template>

<script>
import * as $ons from 'onsenui';
import Profile from '../components/js/MyProfile';
import CircleList from '../components/js/CircleList';
import '../firebaseInit';

export default {
  created() {
    // this.get.load();
  },
  data() {
    return {
      get: Profile.getInstance(),
      CircleList,
      uploadedImage: '',
    };
  },
  methods: {
    onFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      this.createImage(files[0]);
    },
    createImage(file) {
      const reader = new FileReader();
      reader.onload = (e) => {
        this.get.ImagePress(e.target.result);
        // this.get.myProfile.img_src = e.target.result;
      };
      reader.readAsDataURL(file);
      this.get.ImageChange = true;
      console.log(this.get.ImageChange);
    },
    async save() {
      const input = this.get.myProfile;
      if (input.name === '' || input.img_src === '') {
        $ons.notification.alert('ニックネーム、プロフィール画像は必ず設定してください');
      } else {
        await this.get.UploadProfile();
        this.$router.push('/');
      }
    },
    async cansel() {
      this.get.SignOut();
    },
  },
};
</script>

<style lang="scss">
    #profile_setting {

        .ons-item {
            width: 90% !important;
        }
        .img-area {
            margin: auto;

            .img {
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
        }
        .upload-area {
            border: none;
            text-align: center;

            ons-button{
                margin: auto;

                .upload-btn {

                    input {
                        display: none;
                    }
                }
            }
        }
        .circle-name {
            margin-left: 1rem;
            width: 85%;
        }
        .profile-btn {
            width: 40%;
            margin: 1rem !important;
        }
        .gender {
            margin-left: 1rem;
            width: 85%;
        }
        .cancel {
            background-color: #ff4900 !important;
        }
    }
</style>
