<template>
    <div id="profile">
        <v-ons-page>
            <v-ons-dialog
                    class="child_dialog"
                    :visible.sync="dialogVisible"
                    animation="none">
                <v-ons-page id="profile-page">
                    <v-ons-toolbar>
                        <div class="left">
                            <v-ons-back-button
                                    @click.prevent="back()"
                            >
                            </v-ons-back-button>
                        </div>
                        <div class="center">
                            {{ data.profile.name }} のプロフィール
                        </div>
                    </v-ons-toolbar>
                    <v-ons-list>
                        <v-ons-list-item>
                            <div class="img-area">
                                <img class="img" :src="data.profile.img_src"/>
                            </div>
                        </v-ons-list-item>
                        <v-ons-list-header>ニックネーム</v-ons-list-header>
                        <v-ons-list-item>
                            <p>{{ data.profile.name }}</p>
                        </v-ons-list-item>
                        <v-ons-list-header>学科</v-ons-list-header>
                        <v-ons-list-item>
                            <p>{{ data.profile.department }}</p>
                        </v-ons-list-item>
                        <v-ons-list-header>性別</v-ons-list-header>
                        <v-ons-list-item>
                            <p>{{ data.profile.gender }}</p>
                        </v-ons-list-item>
                        <v-ons-list-header>自己紹介</v-ons-list-header>
                        <v-ons-list-item>
                            <p style="white-space: pre-line;">{{ data.profile.introduction }}</p>
                        </v-ons-list-item>
                        <v-ons-list-header>所属サークル</v-ons-list-header>
                        <v-ons-list-item expandable>
                            サークル一覧を表示する
                            <v-ons-list class="expandable-content">
                                <v-ons-list-item v-for="circle in data.profile.circles"
                                                 :key="circle">
                                    <p>{{ circle }}</p>
                                </v-ons-list-item>

                            </v-ons-list>
                        </v-ons-list-item>
                    </v-ons-list>
                    <!--
                    <v-ons-bottom-toolbar>
                        <v-ons-button class="btn talk"
                        >トークを送る</v-ons-button>
                        <v-ons-button class="btn cancel"
                                      @click="change()"
                        >ブロック</v-ons-button>
                    </v-ons-bottom-toolbar>
                    -->
                </v-ons-page>
            </v-ons-dialog>
        </v-ons-page>
    </div>
</template>

<script>
import GetProfile from '../components/js/GetProfile';

export default {
  created() {
    this.data.get(this.$route.params.id);
  },
  data() {
    return {
      data: GetProfile.getInstance(),
      dialogVisible: true,
    };
  },
  methods: {
    /*
    createcheck(uid) {
      setTimeout(() => {
        this.talk.CreateCheck(uid);
      }, 500);
    },
    change() {
      console.log(this.data.profile.introduction);
    },
    */
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="scss">
.child_dialog {
    .dialog {
        width: 100% !important;
        height: 100% !important;
        .page__content {
            overflow-y: auto !important;
        }
        #profile-page{
            .ons-item {
                width: 90% !important;
            }
            .img-area {
                margin: auto;

                .img {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                }
            }
            .list-item__center{
                padding: 0 !important;
            }
            .cancel {
                background-color: #ff4900 !important;
            }
            ons-button {
                width: 40%;
                height: 90%;
                text-align: center;
                margin: auto;
                font-size: 1rem;
                padding: 0;
            }
            ons-bottom-toolbar {
                display: flex;
                justify-content: space-around;
                padding: .3rem;
            }
        }
    }
}
</style>
