<template>
    <div id="resetting">
        <v-ons-dialog
                class="child_dialog"
                :visible.sync="dialogVisible"
                animation="none"
        >
            <div class="resetting_page">
                <v-ons-page>
                    <v-ons-toolbar>
                        <div class="left">
                            <v-ons-back-button @click.prevent="back">
                            </v-ons-back-button>
                        </div>
                    </v-ons-toolbar>
                    <img src="../assets/logo.png" />
                    <h2>パスワード再設定</h2>
                    <p>メールに添付されるURLからパスワードの変更を完了させてください。</p>
                    <v-ons-input type="text" placeholder="学籍番号"
                                 modifier="underbar"
                                 v-model="resetting.studentnumber"
                                 maxlength="6" float></v-ons-input>
                    <v-ons-button @click="sendEmail">メール送信</v-ons-button>
                </v-ons-page>
                <v-ons-dialog
                        :visible.sync="wait_dialog">
                    <p style="text-align: center; margin: 3rem !important;">
                        Loading <v-ons-icon icon="fa-spinner" spin></v-ons-icon>
                    </p>
                </v-ons-dialog>
            </div>
        </v-ons-dialog>
    </div>
</template>

<script>
import ReSetting from '../components/js/ReSetting';

export default {
  created() {
    this.resetting.Crear();
  },
  name: 'ReSetting',
  data() {
    return {
      dialogVisible: true,
      wait_dialog: false,
      resetting: ReSetting.GetInstance(),
    };
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
    async sendEmail() {
      this.wait_dialog = true;
      await this.resetting.SendEmail();
      await this.$router.push('/send');
      this.wait_dialog = false;
    },
  },
};
</script>

<style lang="scss">
.resetting_page {
    .page__content {
        width: 80%;
        margin: auto;
        text-align: center;
        ons-input {
            width: 100%;
        }

        ons-button {
            margin: 1rem 0 0 0;
            width: 100%;
        }
    }
}
</style>
