<template>
    <div id="rules">
        <v-ons-dialog
            :visible.sync="dialogVisible"
            class="child_dialog"
            animation="none">
            <v-ons-page>
                <div class="rules-and-policies">
                    <p class="title">利用規約</p>
                    <v-ons-card>
                        <div class="content">
                            <ul class="items">
                                <li v-for="item in rules" :key="item.heading"
                                class="rules-item">
                                    <b class="heading">{{ item.heading }}</b>
                                    <p>{{ item.content }}</p>
                                    <p v-if="item.attention"
                                       class="attention">{{ item.attention }}</p>
                                    <ol class="lists">
                                        <li v-for="list in item.lists" :key="list"
                                        class="rules-item">
                                            {{ list }}
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                    </v-ons-card>
                    <div class="agreement">
                        <label for="agreement">
                            <input class="checkbox"
                                   id="agreement"
                                   type="checkbox" v-model="agreement"
                                   v-on:change="change()"> 利用規約に同意します
                        </label>
                    </div>
                    <div class="button-area">
                        <v-ons-button :disabled.sync="disabled" @click="go()">次へ進む</v-ons-button>
                    </div>
                </div>
            </v-ons-page>
        </v-ons-dialog>
    </div>
</template>

<script>
export default {
  data() {
    return {
      dialogVisible: true,
      agreement: false,
      disabled: true,
      rules: [
        {
          heading: '禁止行為',
          content: '以下のような行為は禁止いたします。',
          lists: ['第三者になりすます行為', '特定の個人・団体の名誉や信用を傷つけたり、誹謗中傷する行為',
            'わいせつ表現にあたる行為', '犯罪行為に結びつく行為、そのおそれがある行為',
            '本人の承諾なく個人情報を開示、漏洩する行為'],
          attention: '禁止行為に該当した投稿・ユーザは削除し、学校側へ情報提供を行う場合があります。',
        },
        {
          heading: '個人情報の利用目的およびプライバシーポリシー',
          content: '当サービスの情報を以下目的の達成に必要な範囲内において利用する場合があります。',
          lists: ['卒業制作発表及び論文', '本規約上の禁止行為に抵触する書込情報の監視・削除等'],
        },
        {
          heading: '本サービスの変更・終了・中断',
          content: '以下のいずれかの事由が生じた場合、利用者に対する事前の公表または通知なく、本サービスの提供を中断することができるものとします。',
          lists: ['メンテナンスを定期的にまたは緊急に行う場合', 'インターネット回線、携帯電話回線等の通信回線の不通',
            'その他、当チームが本サービスの提供の中断が必要であると判断した場合'],
        },
      ],
    };
  },
  methods: {
    change() {
      if (this.agreement === false) {
        this.disabled = true;
      } else {
        this.disabled = false;
      }
    },
    go() {
      this.$router.push('/welcome');
    },
  },
};
</script>

<style lang="scss">
.rules-and-policies {
    text-align: center;
    padding: 1rem;
    .title {
        font-size: 2rem;
    }
    .content {
        text-align: left;
        overflow: scroll;
        white-space: pre-line;
        height: 20rem;
        .items {
            list-style: none;
            padding: 1rem;
            color: black;
            .rules-item {
                white-space: normal !important;
            }
            .heading {
                font-size: 1.2rem;
            }
            .attention {
                color: red;
            }
            .lists {
                padding: 1rem;
                margin-bottom: 2.5rem;
                line-height: 1.5rem;
            }
        }
    }
    .agreement {
        margin-top: 1.5rem;
        .checkbox {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
    .button-area {
        margin-top: 1.5rem;
        ons-button {
            width: 80%;
        }
    }
}
</style>
