<template>
    <div id="search">
        <v-ons-page>
            <v-ons-segment class="search-parts">
                <button @click="change('users')">ユーザ</button>
                <button @click="change('mutter')">つぶやき</button>
            </v-ons-segment>
            <v-ons-list>
                <v-ons-list-item modifier="nodivider">
                    <v-ons-search-input
                            class="search-parts"
                            placeholder="search something"
                            v-model="keyword"
                            @change="search.SearchKeyword(keyword)">
                    </v-ons-search-input>
                </v-ons-list-item>
            </v-ons-list>
            <v-ons-list v-show="active === 'users'">
                <v-ons-list-item v-for="item in search.userList" :key="item.uid"
                                 @click="goProfile(item.uid)">
                    <div class="left">
                        <img class="list-item__thumbnail" :src="item.img_src">
                    </div>
                    <div class="center name-area">
                        {{ item.name }}
                    </div>
                </v-ons-list-item>
            </v-ons-list>
            <ul class="entry_list" v-show="active === 'mutter'">
                <li v-for="item in search.mutterList" :key="item.id">
                    <div class="whole">
                        <div class="entry_top">
                            <div class="upper-left">
                                <v-ons-list-item class="timeline_list_item">
                                    <img :src="item.user.img"
                                         class="list-item__thumbnail"
                                         @click="goProfile(item.user.uid)"
                                    >
                                </v-ons-list-item>
                            </div>
                            <div class="upper-right">
                                <div class="name">
                                    {{ item.user.name }}
                                </div>
                                <div class="time">
                                    {{ search.conversion(item.date) }}
                                </div>
                                <div class="setting" @click="actionSheet.getActionSheet(item)">
                                    <ons-icon icon="fa-angle-down"></ons-icon>
                                </div>
                            </div>
                        </div>
                        <div class="entry_bottom" @click="goEntry(item.id)">
                            <div class="content" v-if="item.content">
                                {{ item.content }}
                            </div>
                            <div class="content-image-area" v-if="item.image">
                                <img :src="item.image" class="content-image">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </v-ons-page>
    </div>
</template>

<script>
import Search from '../components/js/Search';
import ActionSheet from '../components/js/ActionSheet';

export default {
  name: 'Search',
  data() {
    return {
      keyword: '',
      active: 'users',
      search: Search.getInstance(),
      actionSheet: ActionSheet.getInstance(),
    };
  },
  methods: {
    goProfile(uid) {
      this.$router.push({ name: 'Profile', params: { id: uid } });
    },
    goEntry(docId) {
      this.$router.push({ name: 'Entry', params: { id: docId } });
    },
    change(name) {
      this.active = name;
    },
  },
};
</script>

<style lang="scss">
#search{
    .search-parts{
        width: 100% !important;
    }
    .select{
        height: 100% !important;

        select{
            height: 100% !important;
        }
    }
    .name-area {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    ons-search-input {
        input {
            font-size: 1rem;
        }
    }
}

.entry_list {
    list-style: none;
    padding:0;
    margin: 0;
    li {
        padding: .5rem;
        margin: .1rem;
        background: white;
        box-shadow: 0 .1px .1px rgba(0, 0, 0, 0.22);
        max-height: 300px;
        overflow: hidden;
        .whole {
            max-height: 275px;
            overflow: hidden;
            margin: 1rem 0 1rem 0;
            .entry_top {
                display: flex;
                .upper-left {
                }
                .upper-right {
                    display: flex;
                    margin: .6rem 0 0 .5rem;
                    width: calc(100% - 50px);
                    .name {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow:hidden;
                        flex: 50% 0 0;
                        text-align: left;
                    }
                    .time {
                        flex: 41% 0 0;
                        font-size: .9rem;
                        text-align: right;
                    }
                    .setting {
                        flex: 9% 0 0;
                        text-align: right;
                    }
                }
            }
            .entry_bottom {
                margin: .5rem 1rem 1rem 3.3rem;
                text-align: left;
                .content {
                    white-space: pre-line;
                }
                .content-image-area {
                    margin: 1rem 0 0 0;
                    .content-image {
                        object-fit: cover;
                        width: 100%;
                        height: 10rem;
                        border-radius: 1rem;
                    }
                }
            }
        }
    }
}
</style>
