<template>
    <div class="send">
        <v-ons-dialog
        class="child_dialog"
        :visible.sync="dialogVisible"
        animation="none">
            <div class="send_content">
                <v-ons-page>
                    <h2>確認用メールを送信しました</h2>
                    <p>添付されているURLからパスワードの変更を行ってください。</p>
                    <p>サインインは<router-link to="/signin">こちら</router-link></p>
                </v-ons-page>
            </div>
        </v-ons-dialog>
    </div>
</template>

<script>
export default {
  data() {
    return {
      dialogVisible: true,
    };
  },
  methods: {
  },
};
</script>

<style lang="scss">
.send_content {
    ons-page {
        .page__content {
            padding: 1rem;
        }
    }
}
</style>
