<template>
    <div id="sent_email">
        <v-ons-dialog
                class="child_dialog"
                :visible.sync="dialogVisible"
                animation="none">
            <div class="sent_email_content">
                <p class="title">メールを送信しました。</p>
                <p>添付されているURLでメール認証を完了させてください。</p>

                <p>サインインは<router-link to="/signin">こちら</router-link></p>
            </div>
        </v-ons-dialog>
    </div>
</template>

<script>
export default {
  data() {
    return {
      dialogVisible: true,
    };
  },
};
</script>

<style lang="scss">
#sent_email{
    padding: 1rem;
}
.sent_email_content {
    text-align: center;
    padding: 1rem;
    .title {
        font-size: 1.5rem;
    }
}
</style>
