<template>
    <div id="signup">
        <v-ons-dialog
                class="child_dialog"
                :visible.sync="dialogVisible"
                animation="none"
        >
            <div class="signup">
                <v-ons-page>
                    <v-ons-toolbar>
                        <div class="left">
                            <v-ons-back-button @click.prevent="back">
                            </v-ons-back-button>
                        </div>
                    </v-ons-toolbar>
                    <img src="../assets/logo.png">
                    <h2>アカウント作成</h2>
                    <div class="message">{{ create.input.Message }}</div>
                    <v-ons-input type="text" placeholder="学籍番号"
                                 v-model="create.input.StudentNumber" modifier="underbar"
                                 maxlength="6" float></v-ons-input>

                    <v-ons-input type="password" placeholder="パスワード"
                                 v-model="create.input.Password" modifier="underbar"
                                 minlength="6" float></v-ons-input>

                    <v-ons-button @click="signUp">サインアップ</v-ons-button>
                    <p class="link">アカウントをお持ちの方は
                        <router-link to="/signin">こちら</router-link></p>
                </v-ons-page>
            </div>
        </v-ons-dialog>
        <v-ons-dialog
                :visible.sync="create.dialogVisible"
        >
            <p style="text-align: center; margin: 3rem !important;">
                Loading <v-ons-icon icon="fa-spinner" spin></v-ons-icon>
            </p>
        </v-ons-dialog>
    </div>
</template>

<style lang="scss">

    .signup{
        text-align: center;
        padding: 1rem;

        .message{
            color: red;
            width: 90%;
            margin: auto;
        }

        ons-input{
            width: 90%;
            margin: 1rem 0 1rem 0;
        }

        ons-button{
            width: 90%;
            margin: 1rem 0 .5rem 0;
        }

        .link {
            margin: .5rem 0 0 0;
        }
    }
</style>

<script>
import OriginalAuth from '../components/js/OriginalAuth';

export default {
  created() {
    this.create.Clear();
  },
  data() {
    return {
      create: OriginalAuth.getInstance(),
      dialogVisible: true,
    };
  },
  methods: {
    async signUp() {
      await this.create.CreateUser();
    },
    back() {
      this.$router.go(-1);
    },
  },
};
</script>
