<!-- サインイン -->
<template>
    <div id="signin">
        <v-ons-dialog
                class="child_dialog"
                :visible.sync="dialogVisible"
                animation="none"
        >
            <div class="signin_background">
                <div class="signin">
                    <v-ons-page>
                        <v-ons-toolbar>
                            <div class="left">
                                <v-ons-back-button @click.prevent="back">
                                </v-ons-back-button>
                            </div>
                        </v-ons-toolbar>
                        <img src="../assets/logo.png">
                        <h2>サインイン</h2>
                        <div class="message">{{ login.input.Message }}</div>
                        <v-ons-input type="text" placeholder="学籍番号"
                                     v-model="login.input.StudentNumber" modifier="underbar"
                                     maxlength="6" float></v-ons-input>
                        <v-ons-input type="password" placeholder="パスワード"
                                     v-model="login.input.Password" modifier="underbar"
                                     minlength="6" float></v-ons-input>
                        <v-ons-button @click="signIn">サインイン</v-ons-button>
                        <p class="link">アカウントをお持ちでない方は
                            <router-link to="/signup">こちら</router-link></p>
                        <p class="link">パスワードの変更は
                            <router-link to="/resetting">こちら</router-link>
                        </p>
                    </v-ons-page>
                </div>
            </div>
        </v-ons-dialog>
        <v-ons-dialog
                :visible.sync="login.dialogVisible"
        >
            <p style="text-align: center; margin: 3rem !important;">
                Loading <v-ons-icon icon="fa-spinner" spin></v-ons-icon>
            </p>
        </v-ons-dialog>
    </div>
</template>

<style lang="scss">

.signin_background {

    .signin {
        text-align: center;
        .message{
            color: red;
            width: 90%;
            margin: auto;
        }

        ons-input{
            width: 90%;
            margin: 1rem 0 1rem 0;
        }

        ons-button{
            width: 90%;
            margin: 1rem 0 .5rem 0;
        }

        .link {
            margin: .5rem 0 0 0;
        }
    }
}
</style>

<script>
import OriginalAuth from '../components/js/OriginalAuth';

export default {
  created() {
    this.login.Clear();
  },
  data() {
    return {
      login: OriginalAuth.getInstance(),
      dialogVisible: true,
    };
  },
  methods: {
    async signIn() {
      this.login.SignIn();
    },
    back() {
      this.$router.go(-1);
    },
  },
};
</script>
