<template>
    <div id="timeline_entry">
        <v-ons-page>
            <v-ons-dialog
                class="child_dialog"
                :visible.sync="dialogVisible"
                animation="none"
                >
                <v-ons-page>
                    <v-ons-toolbar>
                        <div class="left">
                            <v-ons-back-button @click.prevent="back()">
                            </v-ons-back-button>
                        </div>
                    </v-ons-toolbar>
                    <div class="entry" v-show="!get.loading">
                        <div class="whole">
                            <div class="entry_top">
                                <div class="upper-left">
                                    <v-ons-list-item class="timeline_list_item">
                                        <img :src="get.EntryData.user.img"
                                             class="list-item__thumbnail"
                                             @click="pushProfile(get.EntryData.user.uid)"
                                        >
                                    </v-ons-list-item>
                                </div>
                                <div class="upper-right">
                                    <div class="name">
                                        {{ get.EntryData.user.name }}
                                    </div>
                                    <div class="time">
                                        {{ get.EntryData.date }}
                                    </div>
                                    <div class="setting"
                                         @click="actionSheet.getActionSheet(get.EntryData)">
                                        <ons-icon icon="fa-angle-down"></ons-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="entry_bottom">
                                <div class="content" v-if="get.EntryData.content">
                                    {{  get.EntryData.content }}
                                </div>
                                <div class="content-image-area" v-if="get.EntryData.image">
                                    <img :src="get.EntryData.image" class="content-image"
                                    @click="goImagePage(get.EntryData.image)">
                                </div>
                            </div>
                        </div>
                        <v-ons-list v-if="get.EntryData.comments">
                            <v-ons-list-item modifier="nodivider">
                                コメント
                            </v-ons-list-item>
                            <v-ons-list-item v-for="item in get.EntryData.comments" :key="item.id"
                            modifier="nodivider">
                                <div class="left" style="align-items: start;">
                                    <img :src="item.user.img" class="list-item__thumbnail"
                                    @click="pushProfile(item.user.uid)">
                                </div>
                                <div class="center">
                                <span class="list-item__title"
                                      style="width: 1rem; height:1rem;
                                      white-space: nowrap; text-overflow: ellipsis;
                                      overflow: hidden; color: gray;">{{ item.user.name }}</span>
                                    <span style="margin-top: .5rem;">{{ item.comment }}</span>
                                </div>
                                <div class="right" style="display: flex; align-items: start;">
                                    <ons-icon icon="fa-angle-down"
                                              @click="comment.editComment(get.EntryData.id, item)">
                                    </ons-icon>
                                </div>
                            </v-ons-list-item>
                        </v-ons-list>
                    </div>
                    <v-ons-bottom-toolbar style="display: flex;
                    justify-content: center; align-items: center; padding: .5rem;">
                        <div class="comment" style="width: calc(100% - 80px);">
                            <v-ons-input type="text" placeholder="コメントを入力してください"
                                         modifier="underbar"
                                         style="width: 100%;"
                                         v-model="comment.comment"></v-ons-input>
                        </div>
                        <div class="send" style="width: 70px; display: flex;
                        justify-content: center;">
                            <v-ons-button style="margin: auto;"
                                          @click="comment.post($route.params.id)">
                                送信
                            </v-ons-button>
                        </div>
                    </v-ons-bottom-toolbar>
                </v-ons-page>
            </v-ons-dialog>
            <v-ons-dialog
                :visible.sync="get.loading"
                animation="none">
                <p style="text-align: center;
                    margin: 3rem !important; height: 100%;">
                    Loading <v-ons-icon icon="fa-spinner" spin></v-ons-icon>
                </p>
            </v-ons-dialog>
        </v-ons-page>
    </div>
</template>

<script>
import EntryData from '../components/js/EntryData';
import Comment from '../components/js/Comment';
import ActionSheet from '../components/js/ActionSheet';

export default {
  name: 'TimelineEntry',
  created() {
    this.get.GetEntryData(this.$route.params.id);
  },
  data() {
    return {
      get: EntryData.getInstance(),
      comment: Comment.getInstance(),
      actionSheet: ActionSheet.getInstance(),
      dialogVisible: true,
    };
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
    goImagePage(url) {
      window.open(url, '_blank');
    },
    pushProfile(uid) {
      this.$router.push({ name: 'Profile', params: { id: uid } });
    },
  },
};
</script>

<style lang="scss">
    .entry {
        padding: .5rem;
        background: white;
        .entry_top {
            display: flex;
            .upper-right {
                display: flex;
                margin: .6rem 0 0 .5rem;
                width: calc(100% - 50px);
                .name {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow:hidden;
                    flex: 50% 0 0;
                    text-align: left;
                }
                .time {
                    flex: 41% 0 0;
                    font-size: .9rem;
                    text-align: right;
                }
                .setting {
                    flex: 9% 0 0;
                    text-align: right;
                }
            }
        }
        .entry_bottom {
            margin: 0 1rem 1rem 3.3rem;
            text-align: left;
            .content {
                white-space: pre-line;
            }
            .content-image-area {
                margin: 1rem 0 0 0;
                .content-image {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;
                }
            }
        }
    }
</style>
