<template>
    <div id="timeline">
        <v-ons-page :infinite-scroll="load">
            <ul class="entry_list">
                <li v-for="item in timeline.entryList" :key="item.id">
                    <div class="whole">
                        <div class="entry_top">
                            <div class="upper-left">
                                <v-ons-list-item class="timeline_list_item">
                                    <img :src="item.user.img"
                                         class="list-item__thumbnail"
                                         @click="pushProfile(item.user.uid)"
                                    >
                                </v-ons-list-item>
                            </div>
                            <div class="upper-right">
                                <div class="name">
                                    {{ item.user.name }}
                                </div>
                                <div class="time">
                                    {{ timeline.conversion(item.date) }}
                                </div>
                                <div class="setting" @click="actionSheet.getActionSheet(item)">
                                    <ons-icon icon="fa-angle-down"></ons-icon>
                                </div>
                            </div>
                        </div>
                        <div class="entry_bottom" @click="goEntry(item.id)">
                            <div class="content" v-if="item.content">
                                {{  item.content }}
                            </div>
                            <div class="content-image-area" v-if="item.image">
                                <img :src="item.image" class="content-image">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <v-ons-dialog
                    :visible.sync="timeline.loading"
                    animation="none">
                <p style="text-align: center; margin: 3rem !important;">
                    Loading <v-ons-icon icon="fa-spinner" spin></v-ons-icon>
                </p>
            </v-ons-dialog>
        </v-ons-page>
        <v-ons-speed-dial position="bottom right"
                          :visible="spdVisible"
                          @click="goPost()">
            <v-ons-fab>
                <v-ons-icon icon="fa-edit"
                            style="margin: auto;"></v-ons-icon>
            </v-ons-fab>
        </v-ons-speed-dial>
    </div>
</template>

<script>
import TimelineGet from '../components/js/TimelineGet';
import ActionSheet from '../components/js/ActionSheet';

export default {
  name: 'Timeline',
  created() {
    this.timeline.GetTimelineData();
  },
  data() {
    return {
      spdVisible: true,
      actionSheetVisible: false,
      actionSheet: ActionSheet.getInstance(),
      timeline: TimelineGet.getInstance(),
    };
  },
  methods: {
    async load(done) {
      await setTimeout(() => {
        // console.log('load more');
        this.timeline.LoadMore();
        done();
      }, 500);
    },
    action() {
      this.actionSheetVisible = true;
    },
    goEntry(id) {
      this.$router.push({ name: 'Entry', params: { id } });
    },
    goPost() {
      this.$router.push('/timeline_post');
    },
    pushProfile(uid) {
      this.$router.push({ name: 'Profile', params: { id: uid } });
    },
  },
};
</script>

<style lang="scss">
    #timeline {
        .entry_list {
            list-style: none;
            padding:0;
            margin: 0;
            li {
                padding: .5rem;
                margin: .1rem;
                background: white;
                box-shadow: 0 .1px .1px rgba(0, 0, 0, 0.22);
                max-height: 300px;
                overflow: hidden;
                .whole {
                    max-height: 275px;
                    overflow: hidden;
                    margin: 1rem 0 1rem 0;
                    .entry_top {
                        display: flex;
                        .upper-left {
                        }
                        .upper-right {
                            display: flex;
                            margin: .6rem 0 0 .5rem;
                            width: calc(100% - 50px);
                            .name {
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow:hidden;
                                flex: 50% 0 0;
                                text-align: left;
                            }
                            .time {
                                flex: 41% 0 0;
                                font-size: .9rem;
                                text-align: right;
                            }
                            .setting {
                                flex: 9% 0 0;
                                text-align: right;
                            }
                        }
                    }
                    .entry_bottom {
                        margin: .5rem 1rem 1rem 3.3rem;
                        text-align: left;
                        .content {
                            white-space: pre-line;
                        }
                        .content-image-area {
                            margin: 1rem 0 0 0;
                            .content-image {
                                object-fit: cover;
                                width: 100%;
                                height: 10rem;
                                border-radius: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .timeline_list_item {
        padding: 0 !important;
        margin: 0 !important;
        width: 40px;
        height: 40px;
        .center {
            background: none;
        }
    }
</style>

