<template>
    <div id="timeline_post">
        <v-ons-dialog
                class="child_dialog"
                :visible.sync="vue_dialogVisible"
            >
            <div class="timeline-post">
                <v-ons-page>
                    <v-ons-toolbar>
                        <div class="left">
                            <v-ons-back-button @click.prevent="back">
                            </v-ons-back-button>
                        </div>
                        <div class="center">
                            つぶやく
                        </div>
                    </v-ons-toolbar>
                    <v-ons-list>
                        <p style="color: red; margin: 1rem 0 0 .5rem;">{{ message }}</p>
                        <v-ons-list-item modifier="nodivider">
                    <textarea class="textarea ons-textarea top-textarea"
                              rows="5" placeholder="つぶやいてみよう"
                              v-model="data.content">
                    </textarea>
                            <div class="textarea ons-textarea bottom-textarea">
                                <img class="img" v-show="data.img" :src="data.img" />
                            </div>
                            <div style="display: flex; width: 100%;">
                                <div class="button-area left-area">
                                    <v-ons-button>
                                        <label for="file" class="upload-btn">
                                            <ons-icon icon="ion-image" size="20px"></ons-icon>
                                            <input type="file" id="file"
                                                   v-on:change="onFileChange" accept="image/*"/>
                                        </label>
                                    </v-ons-button>
                                    <v-ons-button class="refresh" @click="refresh">
                                        <ons-icon icon="ion-refresh" size="20px"></ons-icon>
                                    </v-ons-button>
                                </div>
                                <div class="button-area right-area">
                                    <v-ons-button @click="PostEvent">つぶやく</v-ons-button>
                                </div>
                            </div>
                        </v-ons-list-item>
                    </v-ons-list>
                </v-ons-page>
            </div>
        </v-ons-dialog>
        <v-ons-dialog
                :visible.sync="data.dialogVisible">
            <p style="text-align: center; margin: 3rem !important;">
                Loading <v-ons-icon icon="fa-spinner" spin></v-ons-icon>
            </p>
        </v-ons-dialog>
    </div>
</template>

<script>
import TimelinePost from '../components/js/TimelinePost';

export default {
  data() {
    return {
      data: TimelinePost.getInstance(),
      vue_dialogVisible: true,
      message: '',
    };
  },
  methods: {
    onFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      this.createImage(files[0]);
    },
    createImage(file) {
      const reader = new FileReader();
      reader.onload = (e) => {
        this.data.ImagePress(e.target.result);
      };
      reader.readAsDataURL(file);
    },
    async PostEvent() {
      if (this.data.content === '' && this.data.img === '') {
        this.message = 'つぶやく内容を入力してください';
      } else {
        await this.data.post();
        this.$router.go(-1);
      }
    },
    async refresh() {
      this.data.clear();
    },
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="scss">
.timeline-post{
    .top-textarea{
        border-bottom: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .bottom-textarea{
        border-top: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        text-align: center;
    }
    .img{
        width: 16rem;
        height: 16rem;
        margin: auto;
        padding: 1rem;
        border-radius: 2rem;
        object-fit: cover;
    }
    .textarea {
        width: 100% !important;
    }
    .button-area{
        margin-top: 1rem;

        ons-button{
            margin-left: .5rem;
            margin-right: .5rem;

            .upload-btn {
                input {
                    display: none;
                }
            }
        }
    }
    .left-area{
        width: 50%;
    }
    .right-area{
        width: 50%;
        text-align: right;
    }
}
</style>
