<template>
    <div id="welcome">
            <v-ons-dialog
                    :visible.sync="dialogVisible"
                    class="welcome-dialog"
            >
                    <WelcomeCarousel></WelcomeCarousel>
            </v-ons-dialog>
    </div>
</template>

<script>
import WelcomeCarousel from '../components/WelcomeCarousel.vue';

export default {
  components: {
    WelcomeCarousel,
  },
  data() {
    return {
      dialogVisible: true,
    };
  },
};
</script>

<style lang="scss">
    .welcome-dialog {
        padding: 1rem;

        .dialog{
            min-width: 80%;

            .dialog-container{
                min-height: 30rem;
            }
        }
    }
</style>
