<template>
    <div id="working_space">
        <v-ons-page>
            <v-ons-list>
                <v-ons-list-item-header>currentUser</v-ons-list-item-header>
                <v-ons-list-item>
                    <v-ons-button modifier="large" @click="getUser()">currentUser</v-ons-button>
                </v-ons-list-item>
                <v-ons-list-item-header>logout</v-ons-list-item-header>
                <v-ons-list-item>
                    <v-ons-button modifier="large" @click="logout()"
                                  style="background:limegreen;">logout</v-ons-button>
                </v-ons-list-item>
                <v-ons-list-item-header>delete</v-ons-list-item-header>
                <v-ons-list-item>
                    <v-ons-button modifier="large" @click="userDelete()"
                                  style="background:red;">delete</v-ons-button>
                </v-ons-list-item>
                <v-ons-list-item-header>other</v-ons-list-item-header>
                <v-ons-list-item>
                    <v-ons-button modifier="large" @click="other()"
                                  style="background:lightgray; color:black;">other</v-ons-button>
                </v-ons-list-item>
            </v-ons-list>
        </v-ons-page>
    </div>
</template>

<script>
import firebase from 'firebase/app';

export default {
  data() {
    return {
      // profile: EditProfile.getInstance(),
      // profiles: Profile.getInstance(),
    };
  },
  methods: {
    async getUser() {
      // カレントユーザの取得、表示
      const user = firebase.auth().currentUser;
      console.log(user);
    },
    async logout() {
      // サインアウト
      await firebase.auth().signOut();
      console.log('logout success');
    },
    async userDelete() {
      // カレントユーザ取得
      const user = await firebase.auth().currentUser;

      // firestoreの削除
      await firebase.firestore().collection('users').doc(user.uid).delete();

      // ユーザの削除
      await user.delete();
      console.log('delete success');
    },
    async other() {
      console.log('a');
    },
  },
};
</script>

<style lang="scss">
    ons-list-item{
        padding: .5rem !important;
    }
</style>
