<template>
    <div id="EditImage">
        <v-ons-page>
            <div class="skip">※この項目はスキップできます</div>
            <p class="label">プロフィール画像</p>
                    <div class="img-area">
                        <p style="text-align: center; margin: 3rem !important;"
                           v-show="profile.dialogVisible">
                            Loading <v-ons-icon icon="fa-spinner" spin></v-ons-icon>
                        </p>
                        <img class="img" v-show="!profile.dialogVisible"
                             :src="profile.myProfile.img_src" />
                    </div>
            <v-ons-button class="image-button">
                <label for="file" class="upload-btn">
                    <ons-icon icon="ion-camera"></ons-icon>
                        <input type="file" id="file" v-on:change="onFileChange" accept="image/*"/>
                </label>
            </v-ons-button>
        </v-ons-page>
    </div>
</template>

<script>

export default {
  name: 'EditImage',
  props: ['profile'],
  data() {
    return {
    };
  },
  methods: {
    onFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      this.createImage(files[0]);
    },
    createImage(file) {
      const reader = new FileReader();
      reader.onload = (e) => {
        this.profile.ImagePress(e.target.result);
        // this.profile.myProfile.img_src = e.target.result;
        this.profile.ImageChange = true;
      };
      reader.readAsDataURL(file);
    },
  },
};
</script>

<style lang="scss">

#EditImage {
    .img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
    }
    .image-button{
        margin: auto;
        top: 2rem;

        input{
            display: none;
        }
    }
}
</style>
