<template>
    <div id="FirstProfile">
        <v-ons-page>
            <p class="label">ニックネーム</p>
            <v-ons-input class="ons-item" placeholder="ニックネーム"
                         modifier="underbar"
                         v-model="profile.name"
            >
            </v-ons-input>
            <p class="label" style="margin-top: 2.5rem;">性別<span class="notification"
                                     style="margin-left: .5rem; font-size:.8rem;">変更不可</span></p>
            <v-ons-list modifier="noborder" style="background-color:#efeff4;">
                <v-ons-list-item v-for="gender in GenderList" :key="gender.name" tappable>
                    <v-ons-radio
                            :input-id="'radio-'+gender.index"
                            :value="gender.name"
                            :name="'gender'"
                            v-model="profile.gender"
                    ></v-ons-radio>
                    <label :for="'radio-'+gender.index"
                           style="margin-left: 1em; width: 70%;">{{ gender.name }}</label>
                </v-ons-list-item>
            </v-ons-list>
        </v-ons-page>
    </div>
</template>

<script>
// import Profile from './js/Profile';
import GenderList from './js/GenderList';

export default {
  props: ['profile'],
  data() {
    return {
      GenderList,
      // first: Profile.getInstance(),
    };
  },
};
</script>

<style lang="scss">
.label{
    font-weight:bold;
}
</style>
