<template>
    <div id="Introduction">
        <v-ons-page>
            <div class="skip">※この項目はスキップできます</div>
            <p class="label">自己紹介</p>
            <p style="font-size:.8rem;">iOSの顔文字利用可能です😄😂😍😎</p>
            <textarea class="textarea introduction-textarea"
                      placeholder="趣味・特技・好きなアーティスト etc..."
                      v-model="profile.introduction"
                      rows="10"
            ></textarea>
        </v-ons-page>
    </div>
</template>

<script>
export default {
  props: ['profile'],
  name: 'ProfileEnd',
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>

<style lang="scss">
#Introduction {
    .introduction-textarea {
        width: 100%;
    }
}
</style>
