<template>
    <div id="Start">
        <v-ons-page>
            <div>
                <h2>お疲れ様でした</h2>
                <p style="color:red;">{{ message }}</p>
                <v-ons-button @click="check()" style="margin-top: 2rem;">
                    では始めましょう
                </v-ons-button>
                <p style="text-align: center; margin: 3rem !important;" v-if="load">
                    Loading <v-ons-icon icon="fa-spinner" spin></v-ons-icon>
                </p>
            </div>
        </v-ons-page>
    </div>
</template>

<script>
import Profile from './js/MyProfile';

export default {
  props: ['profile'],
  name: 'Start',
  data() {
    return {
      start: Profile.getInstance(),
      message: '',
      load: false,
    };
  },
  methods: {
    async check() {
      const data = this.profile;
      if (!data.name || !data.gender) {
        this.message = '名前と性別は必須項目です。';
      } else {
        this.load = true;
        // 入力したデータをProfile.jsのthis.profilesに上書き
        await this.start.OverWriting(data);
        // this.start.UploadImage();
        await this.start.UploadProfile();
        this.load = false;
        await this.$router.push('/');
      }
    },
  },
};
</script>
