<template>
    <div id="WelcomeContent">
        <v-ons-page>
            <p>
                <v-ons-progress-bar :value="progress"></v-ons-progress-bar>
            </p>
            <v-ons-carousel fullscreen swipeable auto-scroll overscrollable
                            :index.sync="carouselIndex">
                <v-ons-carousel-item>
                    <WelcomeContent></WelcomeContent>
                </v-ons-carousel-item>
                <v-ons-carousel-item>
                    <FirstProfile :profile="first.myProfile"></FirstProfile>
                </v-ons-carousel-item>
                <v-ons-carousel-item>
                    <Introduction :profile="first.myProfile"></Introduction>
                </v-ons-carousel-item>
                <v-ons-carousel-item>
                    <EditImage :profile="first"></EditImage>
                </v-ons-carousel-item>
                <v-ons-carousel-item>
                    <Start :profile="first.myProfile"></Start>
                </v-ons-carousel-item>
            </v-ons-carousel>
            <div class="button-area">
                <ons-icon icon="fa-angle-left" size="30px"
                          v-show="carouselIndex !== 0" @click="back"></ons-icon>
                <ons-icon icon="fa-angle-right" size="30px"
                          v-show="carouselIndex !== 4" @click="go"></ons-icon>
            </div>
        </v-ons-page>
    </div>
</template>

<script>
import Profile from './js/MyProfile';
import WelcomeContent from './WelcomeContent.vue';
import EditImage from './EditImage.vue';
import FirstProfile from './FirstProfile.vue';
import Introduction from './Introduction.vue';
import Start from './Start.vue';

export default {
  created() {
    this.first.UpdateCheck();
  },
  components: {
    EditImage,
    WelcomeContent,
    FirstProfile,
    Introduction,
    Start,
  },
  data() {
    return {
      first: Profile.getInstance(),
      carouselIndex: 0,
      progress: 0,
    };
  },
  methods: {
    async go() {
      this.carouselIndex += 1;
      this.progress += 25;
    },
    async back() {
      this.carouselIndex -= 1;
      this.progress -= 25;
    },
  },
};
</script>

<style lang="scss">
#WelcomeContent{
    ons-page{
        .page__content {
            padding: 1rem !important;
            text-align: center;
            ons-carousel{
                height: 90% !important;
            }
            .button-area{
                display: flex;
                justify-content: space-around;
                text-align: center;
                cursor: pointer;
                position: absolute;
                bottom: 1rem;
                left: 0;
                right: 0;
                ons-icon{
                    color: black;
                }
            }
        }
    }
}
</style>
