<template>
    <div id="WelcomeContent">
        <v-ons-page>
            <h2>はじめまして</h2>
            <p>
                まずはあなたのプロフィールを完成させましょう
            </p>
        </v-ons-page>
    </div>
</template>

<script>
export default {
  name: 'WelcomeContent',
};
</script>

<style scoped>

</style>
