<template>
      <div id="app">
          <v-ons-page>
              <v-ons-toolbar>
                  <div class="center">
                      {{ $route.meta.title }}
                  </div>
              </v-ons-toolbar>
              <v-ons-tabbar
                      swipeable animation="none"
                      position="auto">
                  <router-view slot="pages"></router-view>
                  <v-ons-tab v-for="tab in tabs" :key="tab.name"
                             :label="tab.label"
                             :icon="tab.icon"
                             :active="$route.name === tab.name"
                             @click.prevent="click(tab.name)"
                  ></v-ons-tab>
              </v-ons-tabbar>
          </v-ons-page>
      </div>
</template>

<script>
import Profile from './components/js/MyProfile';
import GetProfile from './components/js/GetProfile';

export default {
  async created() {
    await this.profile.load();
  },
  async updated() {
    await this.click(this.$route.name);

    if (this.$route.name === 'home') return;

    const tabbar = this.$el.querySelector('ons-tabbar');
    const home = tabbar.querySelector('ons-tab');
    home.setActive(false);
  },
  data() {
    return {
      title: GetProfile.getInstance(),
      profile: Profile.getInstance(),
      tabs: [
        {
          name: 'home',
          icon: 'ion-home',
          label: 'home',
        },
        {
          name: 'Timeline',
          icon: 'ion-clock',
          label: 'timeline',
        },
        {
          name: 'Search',
          icon: 'ion-search',
          label: 'search',
        },
        {
          name: 'ProfileSetting',
          icon: 'ion-settings',
          label: 'settings',
        },
      ],
    };
  },
  methods: {
    click(name) {
      this.$router.push({ name });
      setTimeout(() => {
        const tabbar = this.$el.querySelector('ons-tabbar');
        // eslint-disable-next-line
        tabbar._onScroll(tabbar.getActiveTabIndex());
      });
    },
  },

};
</script>

<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
      .ons-swiper-target{
          transform: none !important;
      }
  }
  .list-item__thumbnail {
      object-fit: cover !important;
  }
</style>
